:root {
  --flow-space-title: 3.75vh;
  --flow-space-main: 9.6vh;
  --flow-space-form: 3.59vh;
  --flow-space-fieldset: 2.40vh;
  --flow-space-terms: 1.20vh;
  --width-padding-mobile: 2.78vw;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: url(/images/bg-intro-mobile.png);
  @apply bg-red-100
}

main {
  padding-top: 13.20vh;
  padding-left: 6.4vw;
  padding-right: 6.4vw;
  padding-bottom: 10.20vh;
}

.title {
  font-size: clamp(1.75rem, 5vw , 3.125rem);
}

.flow__title > * + * {
  margin-top: var(--flow-space-title, 1em);
}

.flow__main > * + * {
  margin-top: var(--flow-space-main, 1em);
}

.flow__form > * + * {
  margin-top: var(--flow-space-form, 1em);
}

[data-type="top"] {
  margin-top: var(--flow-space-fieldset, 1em);
}

[data-type="top-terms"] {
  margin-top: var(--flow-space-terms, 1em);
}

@media (min-width: 40rem) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .flow__main > * + * {
    margin-top: 0;
  }

  .flow__form > * + * {
    margin-top: 3vh;
  }

  [data-type="top"] {
    margin-top: var(2.5vh, 1em);
  }
}

@media (prefers-reduced-motion: no-preference) {

}

